{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/compte.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/admin.css') }}" />
  <script src="{{ url_for('static', filename='assets/javascript/scriptAdmin.js') }}"></script>
  <div class="compteContainer">
        
        <div class="langages">
            <div class="langages-container-admin">
                <h2>Languages</h2>
                <div class="langages-content-admin">
                    <div class="langage-cards">
                        {% for sujet in sujets %}
                 <a href="/languages/{{ sujet["Nom"] }}">
                     <div class="card-admin">
                     <img class="card__image" src="{{ sujet["Information"]["Logo"] }}" alt="">
                      <div class="card__content">
                            <h4>{{ sujet["Nom"] }}</h4>
                      </div>
                     </div>
                    </a>
                {% endfor %}
                </div>
                </div>
                <button type="button" id="submitBtn" onclick="window.location.href='/editLangage'">Add Langage</button>
            </div>
        </div>
        <div class="infoCompte">
            <div class="infoCompte-form">
                <h2>Accounts</h2>
                <Table class="fixed_header">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>Userr</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="record"></td>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" class="edit-row" id="editBtn">Edit</button></td>
                            <td> <button type="button" class="delete-row" id="editBtn">Delete</button></td>
                        </tr>    
                    </tbody>
                </Table>
                
                <form>
                    <input type="text" id="Username" placeholder="Username">
                    <input type="text" id="Email" placeholder="Email">
                    <input type="text" id="Type" placeholder="Type">
                    <input type="text" id="Status" placeholder="Status">
                    
                    <input type="button" class="add-row" value="Add account">
                </form>  
                
                <button type="button" class="delete-rows">Delete selected Account</button>
            </div>
        </div>
  </div>
{% endblock %}