{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/compte.css') }}" />
  <script src="{{ url_for('static', filename='assets/javascript/scriptAdmin.js') }}"></script>
  <div class="compteContainer">
        
        <div class="langages">
            <div class="langages-container">
                <h2>Languages</h2>
                <div class="langages-content">
                    <div class="langage-cards">
                        {% for langage in langages %}
                            <a href="/languages/{{ langage["name"] }}">
                                <img class="langage-card" src="{{ langage["logo"] }}">
                            </a>
                        {% endfor %}
                        <a href="/languages">
                            <div class="langage-plus">
                                <div class="plus alt">
                                </div>
                            </div>
                        </a>
                    </div>
                    <button type="button" id="submitBtn" onclick="window.location.href='/editLangage'">EditLangage</button>
                </div>
            </div>
        </div>
        <div class="infoCompte">
            <div class="infoCompte-form">
                <h2>Accounts</h2>
                <Table class="fixed_header">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>Administrateur</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        
                        </tr>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        
                        </tr>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        
                        </tr>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>Userr</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        
                        </tr>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        
                        </tr>
                        <tr>
                            <th scope="row">jmlandry</th>
                            <td>jmlandry@gmail.com</td>
                            <td>User</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>    
                        <tr>
                            <th scope="row">user123</th>
                            <td>jmlandry@gmail.com</td>
                            <td>user</td>
                            <td>active</td>
                            <td> <button type="button" id="editBtn">Edit</button></td>
                        </tr>
                    </tbody>
                </Table>
            </div>
        </div>

  </div>
{% endblock %}