#edit {
    display: flex; 
    flex-direction:row;
}

.infoCompte{
    width : 40%;
    background-color:#5f8de3;
    padding:2vh 2vh 2vw 1vw;
    border-left: 2%;
    border-radius: 2%;
    border-bottom: 2%;
}

.langageCompte{
    width : 40%;
    background-color: #5f8de3;
    padding:2vh 2vh 2vw 1vw;
    border-left: 2%;
    border-radius: 2%;
}
h3 {
    
    text-align: center;
}
ul.info{

    list-style-type: none;
}
li.title{
    font-weight: bold;

}
#edit-button{
    align-self: center;
    
}
#become-premium{
    align-self: left;
}