#ezcoding__logo {
    height: auto;
    width: 150px;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards>a {
    text-decoration: none;
    align-self: center;
    color: black;
}

.cards * {
    box-sizing: border-box;
}

.card {
    border: 3px solid hsl(180, 4%, 15%);
    border-radius: 40px;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 40px;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #F5F5F5;
    border-radius: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 5px;
    border-top: 3px solid hsl(180, 4%, 15%);
}

.card__content>h4 {
    margin-top: 0;
    align-self: center;
    text-align: center;
}


.tree {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility: hidden;
}

.node {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 166px;
    height: 166px;
    border-radius: 40px;
    line-height: 50px;
    text-align: center;
    border: 4px solid #19CE95;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #F5F5F5;
}

.node__link__wrapper {
    display: inline-block;
    width: 95%;
    height: 100%;
}

.node__name {
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.node__score__wrapper {
    line-height: 1.3;
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
}

.node__score {
    display: inline-block;
    vertical-align: bottom;
    height: 30%;
    width: 30%;
    margin: -11px;
}

.node__score__xp {
    line-height: 1.3;
    font-size: small;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.img-about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-text {
    font-size: larger;
    font: bolder;
}

footer {
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2 px;
    text-transform: capitalize;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
