p.tutoriel{
    text-align: left; 

}
ul.tutoriel {
    text-align: left;
}
h3.tutoriel{
    text-align: center;
}
h4.tutoriel{
    text-align: left;
}
div.tutoriel{
    background-color: rgba(255, 255, 255, 0.278);
}
div.exemple{
    background-color: rgba(198, 198, 198, 0.856);
    width: 40%;
    height: auto;
    text-align: left;
    padding: 1%;
    
}
form.tutoriel{
    background-color: rgba(255, 255, 255, 0.278);
    border:50%;
    align-self: center;
}