#ezcoding__logo {
  height: auto;
  width: 100px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  max-height: 55px !important;
  margin-bottom: 25px;
}

body {
  overflow-y: auto;
}

footer {
  margin-top: 50px;
}

.not_found {
  position: absolute;
  top: 10%;
}

.form-center {
  margin: auto;
}

.popup-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.languages {
  position: relative;
  background: #212529;
  max-width: 850px;
  max-height: auto;
  border-radius: 5px;
  box-shadow: 0 0 50px black;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px;
}

.languages-header {
  color: #e4e4e4;
  text-align: center;
  margin-bottom: -30px;
}

.cards-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #2d3033;
  margin: 70px auto;
  width: 90%;
  max-height: 600px;
  overflow-y: auto;
}

.cards-container::-webkit-scrollbar {
  width: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cards-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #2d3033;
}

.cards-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  gap: 9px;
  margin-left: 15px;
  font-family: sans-serif;
}

.cards a {
  text-decoration: none;
  align-self: center;
  color: black;
}

.card {
  margin: 20px;
  display: flex;
  border: 3px solid hsl(180, 4%, 15%);
  border-radius: 10px;
  align-items: center;
  width: 125px;
  height: 130px;
}

.card__image {
  width: 110px;
  height: auto;
  border-radius: 10px;
  object-fit: fill;
  display: block;
}

.card__content {
  padding: 10px;
  background: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 5px;
  width: 125px;
  height: auto;
  border-top: 3px solid hsl(180, 4%, 15%);
  margin-top: 0;
  text-align: center;
}

.card__content h4 {
  font-weight: 500;
  font-size: medium;
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.6s, top 0.6s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

.tree {
  position: relative;
  top:0;
  right: 0;
}

@keyframes unlock {
  0% {
    filter:grayscale(1)
  }
  100% {
    filter:grayscale(0)
  }
}

.node {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 166px;
  height: 166px;
  border-radius: 40px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: #F5F5F5;
}
.node_short {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 166px;
  height: 166px;
  border-radius: 40px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: #F5F5F5;
}

.node__link__wrapper {
  display:inline-block;
  width:95%;
  height:100%;
}

.node__name {
  line-height: 1.3;
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.node__score__wrapper {
  line-height: 1.3;
  display:inline-block;
  vertical-align: bottom;
  font-size: 0;
}

.node__score {
  display:inline-block;
  vertical-align: bottom;
  height: 30%;
  width: 30%;
  margin: -11px;
}

.node__score__xp {
  line-height: 1.3;
  font-size: small;
  display:inline-block;
  text-decoration: none;
  color:rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes showBottomText {
  0% { transform: translate3d(0, -90%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 63vmin;
  left: 35%;
  position: relative;
  transform: translate(-10%, -10%);
  width: 90vmin;
}

.animated-title > div {
  height: 40%;
  margin-top: 15%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.animated-title > div div {
  font-size: 8vmin;
  padding: -40vmin -40vmin;
  position: relative;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 0%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0%;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.form-popup {
  z-index: 15;
  background: #212529;
  width: 550px;
  border-radius: 4px;
  box-shadow: 0 0 50px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form-popup-error {
  color: red;
  font-weight: bold;
}

.form-register:hover {
  color: white;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}
.form-group:last-child {
  margin: 0;
}
.form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.form-group input {
  outline: none;
  display: block;
  background: #e4e4e4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: #e4e4e4;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
}

.form-group input[type=file] {
  background: none;  
  color: white;
}

.form-group input {
  color: rgba(0, 0, 0, 0.8);
}

.form-group button {
  outline: none;
  background: #f83470;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.form-group .form-remember input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}

.form-group .form-recovery {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}

.form-header {
  margin: 0 0 30px;
  display: flex;
  justify-content: space-between;
}

.form-header h5 {
  padding: 4px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-header h4 {
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 9px;
}

.form-register {
  color: white;
}

.resultats-container {
  width: 700px;
  margin: auto;
  align-items: center;
}

#correcte {
  border: 3px solid #19CE95;
  background-color: rgb(25, 204, 148, .1);
  border-radius: 10px;
}

#incorrecte {
  border: 3px solid #ce0303;
  background-color: rgb(206, 3, 3, .1);
  border-radius: 10px;
}

.resultat {
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
}

.reponse {
  margin-left: 17px;
}

.question {
  font-weight: bold;  
}

.result-note {
  float: right;
  letter-spacing: 2px;
}

#pass-icon {
  position: relative;
  float: right;
  width: 43px;
  height: auto;
  bottom: 4px;
}

#fail-icon {
  position: relative;
  float: right;
  width: 30px;
  height: auto;
  margin-top: 3px;
  margin-right: 6px;
}

.result-button-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.result-button {
  position: relative;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: #000;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0.5 0.1em 0.1em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}
  
.result-button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-color: #000;
}

.hint-icon-container {
  position: relative;
  float: right;
  margin-top: 2px;
  margin-right: 5px;
}

#hint-icon {
  width: 20px;
  height: auto;
}

.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-style: normal;
  transition: all 0.25s ease-in-out;
}

.qtip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600;
}

.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1;
}

.qtip.tip-left:before {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-left:after {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
}

.qtip.tip-bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}

.price{
  display: flex;
  font-size: 3.5rem;
}

.dollar-sign {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-right: .25rem;
}

.per-month {
  font-size: .75rem;
  align-self: flex-end;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
}

.plan-name {
  text-transform: uppercase;
  font-size: .9rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature {
  display: flex;
  align-items: center;
  margin: .5rem;  
}

.btn-paiement {
  background: #f83470;
  border: 0;
  border-radius: 4px;
  padding: 12px 10px;
  color: #e4e4e4;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-shadow: 0.5 0.1em 0.1em rgba(255, 255, 255, 0.253);
}

#paiement-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

.text-success{
  text-align: center;
  color: white;
  background-color: #212529;
  font-size: x-large;  
}

.containerPaiement{
  background: #212529; 
  border-radius: 4px;
  box-shadow: 0 0 20px black;
  color: white;
  padding: 70px;
  width: 600px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.price-column {
  border-radius: 4px;
  background-color: white;
  color: black;
  padding: 70px;
  width: fit-content;
  height: auto;
}

.successContainer {
  background: #212529; 
  border-radius: 4px;
  box-shadow: 0 0 20px black;
  box-sizing: border-box;
  color: white;
  width: 500px;
  height: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.successText {
  text-align: center;
  font-weight: 800;
}

.imageSuccess {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.feature-list {
  margin: 0;
  padding-left: 1.2rem;
}

.feature-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.feature-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 1px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
<<<<<<< HEAD
 .shortcut{
   left: 50px;
 }
=======

.doc_link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.doc_link:hover {
  text-decoration: none;
  color: white;
}

.edit {
  transition: all 0.2s;
  width: 80px;
}

.cancel {
  color: #f83470;
  white-space: nowrap;
  text-align: center;
  background-color: #2d3033;
  margin-left: 20px;
  visibility: hidden;
}
>>>>>>> main
