div.tutoriel{
    background-color: rgba(255, 255, 255, 0.278);
}

div.exemple{
    background-color: rgba(198, 198, 198, 0.856);
    width: 40%;
    height: auto;
    text-align: left;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;  
}

p.tutoriel, ul.tutoriel, h4.tutoriel{
    text-align: left; 
}

h3.tutoriel{
    text-align: center;
}
