{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-5 bg-secondary text-white text-center">
    <h1>About EZCoding</h1>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <br><br> <br><br>
        <p class="about-text"> EZCoding is a new and more interactive way to learn<br>
            how to code with the inclusion of a tree of progression that allows you to keep track of <br>
            your learning curve and to feel as compelled by learning as if you were progressing in a video game!</p>

        <br><br><br><br><br><br>
        <p class="about-text"> The mission of this website is to allow a large variety of people, from<br>
            young children in middle school to adults who want to learn programming in<br>
            a more stimulating way!</p>
        <br><br><br><br><br><br>
        <p class="about-text">Here's a representation of what the progression tree for the Python language looks like!
        </p>
    </div>
    <br><br><br>
    <div>
        <img src="../static/logo/about.png" alt="Progression Python" class="img-about center">
    </div>
</div>
{% endblock %}
