{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid p-5 bg-secondary text-white text-center">
    <h1>{{ sujet["Nom"] }}</h1>
  </div>

  <div class="container mt-5">
    <div class="tree" id="tree">
      {% for ss in sujet["Information"]["Sous-sujet"] %}
          <div class="node" id={{ ss["Nom"] }}>
            <a class="node__link__wrapper" href="/langages/{{ sujet["Nom"] }}?sous-sujet={{ ss["Nom"] }}">
              <span class="node__name">{{ ss["Nom"] }}</span>
              <div class="node__score__wrapper">
                <img class="node__score" src="{{ url_for('static', filename='icons/fire.png') }}" alt="Fire icon">
                <img class="node__score" src="{{ url_for('static', filename='icons/empty_fire.png') }}" alt="Fire icon">
                <img class="node__score" src="{{ url_for('static', filename='icons/empty_fire.png') }}" alt="Fire icon">
              </div>
              <span class="node__score__xp"> --/--XP</span>
            </a>
          </div>
      {% endfor %}
    </div>    
  </div>

  <script src="{{ url_for('static', filename='assets/javascript/leader-line.min.js') }}"></script>
  <script type="text/javascript">
    setTree();
  </script>
{% endblock %}