{% extends 'base.html' %}

{% block content %}
<div style= "font-family: Arial, serif; background-color: rgba(0, 0, 0, 0.664); ">
<script type="text/javascript">
    $(document).ready(function(){
        socket = io();
        socket.connect('http//localhost:5000');
        socket.on('connect', function() {
            socket.send("User connected!");
        });

        socket.on('message', function(data) {
            document.getElementById("messages").innerHTML('<p>' + text(data) + '</p>');
        });

        $('sendBtn').on('click', function (){
            socket.send($('#username').val() + ': ' + $('#message').val());
            $('#message').val('');
        });

    })
</script>


<div class="chatBox form-popup">
<div id="messages" style="background-color: rgb(94, 12, 12);">
</div>

<input class="inputChat" type="text" id="username" placeholder="Username">
<input class="inputChat" type="text" id="message" placeholder="Message">
<button id="sendBtn" class="sendBtn">Send message</button>
</div>
</div>

<!-- <div class="chatwindow">
      <h2 >EZCoding Coders Chat</h2>
      <h2>Room : {{session['room']}}</h2><br>
      <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
      <input type="text" id="text" size="60" placeholder="Enter your message here" />
      <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
      <center><button type="button" class="btn btn-danger" onclick=leave_room()>Leave Chat Room</button></center>
    </div> 
-->

{% endblock %}
    
