{% extends "base.html" %}

{% block content %}


<div class="infoCompte">
    <h3>Info Compte</h3>
    <div id="edit"> 
        <ul class="info">
            <li class = "title">Email</li>
            <li id="email">jmlandry867@gmail.com</li>
            <li class = "title">Username</li>
            <li id="name">jmlandry868</li>
            <li class = "title" >Password</li>
            <li id="password">********</li>
        </ul>
    </div>
    <button onclick="edit()" id="edit-button">Edit</button>
    <button href="/" id="become-premium">Become member</button>
    </div>
<div class="langageCompte">
    <h3>Languages</h3>
</div>
{% endblock %}