{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/compte.css') }}" />
  <script src="{{ url_for('static', filename='assets/javascript/compte.js') }}"></script>
  <div class="compteContainer">
        <div class="infoCompte">
            <div class="infoCompte-form">
                <h2>My account</h2>
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" id="username" class="{{session['user']['name']}}" name="username" value="{{session['user']['name']}}" readonly="true"/>
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" id="email" class="{{session['user']['email']}}" name="email" value="{{session['user']['email']}}" readonly="true"/>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" id="password" class="********" name="password" onfocus="clearField();" value="********" readonly="true"/>
                </div>
                <div id="message-container"><span id="message"><span><br></div>
                <br>
                <div class="edit-buttons">
                    <button type="button" onclick="editInput()" class="edit" id="edit">Edit</button>
                    <button type="button" onclick="cancelEdit()" class="cancel" id="cancel">Cancel</button>
                    {% if session['user']['type'] == "STANDARD" %}
                        <button type="button" class="member" id="submitBtn" onclick="window.location.href='/membership'">Become a member</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="langages">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'langages-container')">Languages</button>
                <button class="tablinks" onclick="openTab(event, 'Progression')">Progression</button>
            </div>
            <div id="langages-container" class="tabContent">
                <h2>Languages</h2>
                <div class="langages-content">
                    <div class="langage-cards">
                        {% for langage in langages %}
                            <a href="/languages/{{ langage["name"] }}">
                                <img class="langage-card" src="{{ langage["logo"] }}">
                            </a>
                        {% endfor %}
                        <a href="/languages">
                            <div class="langage-plus">
                                <div class="plus alt">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="Progression" class="tabContent">
                <h2>Progression</h2>
                
                <div class="progression-content">
                    <h3>{{session['user']['level']}}</h3>
                    
                    <h4>Total xp</h4>
                    <p>{{session['user']['experience']}}</p>
                </div>
                
            </div>
        </div>
  </div>

    {% if session['user']['type'] == "STANDARD" or session['user']['type'] == "MEMBER" %}
        <div class="becomeInstructor">
            <div class="becomeInstructor-container">
                <h2>Teach with us</h2>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-overview-tab" data-bs-toggle="tab" href="#nav-overview" role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
                        <a class="nav-item nav-link" id="nav-howToApply-tab" data-bs-toggle="tab" href="#nav-howToApply" role="tab" aria-controls="nav-howToApply" aria-selected="false">How to apply</a>
                        {% if requests %}
                            <a class="nav-item nav-link" id="nav-history-tab" data-bs-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">History</a>
                        {% endif %}
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                        <br>
                        <p>Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge.</p>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="nav-howToApply" role="tabpanel" aria-labelledby="nav-howToApply-tab">
                        <p>Fill out our <a href="/become_instructor" style="color:white;">request form</a></p>
                        <ul>
                            <li>Enter your full name</li>
                            <li>Choose one or more subject</li>
                            <li>Attach your latest resume and a cover letter</li>
                            <li>Submit your request</li>
                        </ul>
                        <p>Our team will review your request and contact you as soon as possible by email.</p>
                    </div>
                    {% if requests %}
                        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Request #</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    <tr>
                                </thead>
                                <tbody>
                                    {% for request in requests %}
                                        {% if request.status == "ACCEPTED" %}
                                            <i class="qtip tip-bottom" data-tip="Details sent to {{ session['user']['email'] }}">
                                        {% endif %}
                                            <tr onclick="location.href='/account/request/{{ request.id }}'">
                                                <th scope="row">{{ request.id }}</th>
                                                <td>{{ request.date }}</td>
                                                <td>{{ request.status }}</td>
                                            </tr>
                                        {% if request.status == "ACCEPTED" %}
                                            </i>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                {% if pending == false %}
                    <div class="button-center">
                        <button type="button" class="become_instructor_button" onclick="window.location.href='/become_instructor'">Become an instructor</button>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}