{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<title>Exercices</title>

</html>

<body>

    <h1>Exercices pour {{content}}</h1>

    <table>

        <tr>
            <td>Python</td>
        </tr>
        <tr>
            <td>C</td>
        </tr>
        <tr>
            <td>Ruby</td>
        </tr>
        <tr>
            <td>Javascript</td>
        </tr>
        <tr>
            <td>+</td>
        </tr>
    </table>

    <h3>Introduction</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>300/300 XP</p>

    <h3>Operateurs</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>250/3250 XP</p>

    <h3>Fonctions</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>400/400 XP</p>

    <h3>Classes</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>300/300 XP</p>

    <h3>Exception</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>400/400 XP</p>

    <h3>Objets</h3>
    <img src="../feu.jpg" alt="Feu" width="500" height="333">
    <p>250/250 XP</p>




    <h2>progression niveau 23</h2>
    <h2>{{content}}</h2>



</body>

{% endblock %}