{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-5 bg-secondary text-white text-center">
  <h1>EZCoding</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Colonne 1</h3>
      <p>Elit ut aliquam purus sit amet luctus venenatis. Ut sem nulla pharetra
        diam sit amet nisl suscipit ...</p>
      <p>Felis eget nunc lobortis mattis aliquam faucibus purus in massa ...</p>
    </div>
    <div class="col-sm-4">
      <h3>Colonne 2</h3>
      <p>Magna fermentum iaculis eu non diam. Neque laoreet suspendisse
        interdum consectetur libero ...</p>
      <p>Pellentesque diam volutpat commodo sed egestas egestas ...</p>
    </div>
    <div class="col-sm-4">
      <h3>Colonne 3</h3>
      <p>Proin sed libero enim sed faucibus turpis in eu mi egestas erat
        imperdiet sed euismod nisi ...</p>
      <p>Varius duis at consectetur lorem donec massa sapien faucibus ...</p>
    </div>
  </div>
</div>

{% endblock %}