{% extends 'base.html' %}

{% block content %}
<div class="form-popup">
  <div class="form-panel one">
    {% if session['user'] %}
    <div class="form-header">
      <h5>You are logged in as {{ session['user']['name'] }}</h5>
      <a href="/logout"><button type="button">Log Out</button></a>
    </div>
    {% else %}
    <div class="form-header">
      <h5>Login</h5>
      {% if message %}
      <h4>{{ message }}</h4>
      {% endif %}
    </div>
    <div class="form-content">
      <form method="post" action="/login" id="form-popup">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div id="form-popup-error-container"></div><br>
        {% if error %}
        <p id="form-popup-error">{{error}}!</p>
        {% endif %}        
        {{ hcaptcha }}
        <br>
        <div class="form-group">
          <button type="button" onclick="is_authorized('/account');">
            Log In</button>
        </div>
        <a class="form-register" href="/register">Create an account</a>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}