{% extends 'base.html' %}

{% block content %}



<div class="containerPaiement">
<section class="price-comparison">
  <div class="price-column">
    <div class="price">
      <div class="dollar-sign">$</div>
      10
      <div class="per-month">/mo        
      </div>
      <div class="plan-name">Membership</div>
    </div>
    <div class="divider"></div>
    <div class="feature">
      No more ads
    </div>
    <div class="feature">
      Access to premium content
    </div>
    <div class="feature">
      Part of the EZCoding family
    </div>    
    <section class="section">
      <div class="container">
        <button class="btn-paiement" id="submitBtn">Purchase membership</button>
      </div>
    </section>
  </div>
</section>
</div>
{% endblock %}
