{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-5 bg-secondary text-white text-center">
    <h1>Python</h1>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <h3>Introduction</h3>
        <p> Python est un langage de programmation populaire, créé par Guido van Rossum, en 1991.</p>
        <h4> Capacités de Python</h4>
        <p> Il est notamment utilisé pour le développement côté serveur (back-end), le développement de logiciel, les
            mathématiques ainsi que les scripts système. </p>
        <h4> Capacités de Python</h4>
        <p> Il peut être utilisé pour créer des applications web, pour connecter des systèmes de base de données ainsi
            que lire ou modifier des fichiers ainsi que pour gérer des big data et résoudre des mathématiques complexes,
            entre autres. </p>
        <h4>Comment justifier son usage?</h4>
        <p> Python est une alternative intéressante puisqu'il fonctionne sous plusieurs plateformes (Windows, Mac,
            Linux, Raspberry Pi, etc.).
            Il utilise une syntaxe similaire à l'anglais, rendant l'usage très intuitif.
            Il peut également être traité de manière précdurale, orientée-objet ou de manière fonctionnel.
        </p>
        <h4>Les différences au niveau de la syntaxe</h4>
        <p>Il a été concu pour sa grande facilité à lire, vu sa proximité avec l'anglais tout en se laissant influencer
            par les mathématiques.
            Python utilises des nouvelles lignes pour compléter une commande, comparativement à d'autres langages qui
            utilises des points-virgules ou des parenthèses.
            Il se base sur l'indentation et l'usage de whitespaces. D'autres langages de programmation utilises souvent
            à l'instar les accolades.
        </p>
    </div>

    <div class="container mt-5">
        <div class="row text-center">
            <h3>Operators</h3>
            

    
</div>
{% endblock %}