{% extends 'base.html' %}

{% block content %}
  <div class="sujTitle" style="display: flex;">
    <h1 id="sujet" class="ms-auto">{{ sujet }} </h1>
    <h6 id="sous_sujet" class="me-auto">{{ sous_sujet }}</h6>
  </div>

  <div class="quiz">
    <div class="question" style="display: flex;">
      <p id="numero">1</p>
      <p>.&nbsp;</p>
      <p id="question">{{ question }}</p>
    </div>
    <div class="quiz-container" id="container">
      {% for c in choix %}
        <input type="radio" id="choix" name="choix">
        <label id="choix" name="choix_label" for={{ c }}>{{ c }}</label>
        <br>
      {% endfor %}
    </div>
 </div>
  <span id="erreur"></span><br>
  <div class="col text-center">
    <button class="next" onclick="questionSuivante();">Next</button>
  </div>
{% endblock %}
