{% extends "base.html" %}

{% block content %}
<div class="form-popup" style="margin:60px auto 60px;">
  <div class="form-panel one">
    <div class="form-header">
      <h5>Create an account</h5>
    </div>
    <div class="form-content">
      <form method="post" action="/register" id="form-popup">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password"/>
        </div>
        <div id="form-popup-error-container"></div>   
        <br><br>
        {% if error %}
          <p id="form-popup-error">{{error}}!</p>
        {% endif %}
        <div class="form-group">
          <button type="submit">Create my account</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}