{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <section class=" text-center text-lg-start">

    <div class="mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="/static/logo/connexion.png" alt="inscription EZCoding"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            <form action="/register" id="inscription" method="POST">
              <h2>Create an account</h2>
              <br />

              <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username" maxlength="40" required />
                <span id="sp-login"></span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="email">E-mail
                </label>
                <input type="text" id="email" class="form-control" name="email" maxlength="40" required />
                <span id="sp-login"></span>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" maxlength="40" required />
                <span id="sp-pass"></span>
              </div>
              {% if error %}
              <p style="color:#F00">{{error}}.</p>
              {% endif %}

              <div class="form-outline mb-4">
                <div class="h-captcha" data-sitekey="3c18dd0a-63ab-4e65-bf31-18704c39f732"></div>
              </div>

              <button input type="submit" class="btn btn-primary btn-block mb-4">Create my account
              </button>
              <span id="match_pass"></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
</div>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

{% endblock %}