{% extends 'base.html' %}

{% block content %}

  {% if edit %}
    {% set first_name = request.first_name %}
    {% set last_name = request.last_name %}
  {% else %}
    {% set first_name = "" %}
    {% set last_name = "" %}
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/component-chosen.min.css') }}" />
  <div class="form-popup form-center" style="width:700px;">
    <div class="form-panel one">
      <div class="form-header">
        {% if edit %}
          <h5>Request #{{ request.id }}</h5>
        {% else %}
          <h5>Become an instructor</h5>
        {% endif %}
      </div>
      <br>
      <div class="form-content">
        <form method="post" action="/become_instructor" enctype="multipart/form-data">
          <div class="fullname">
            <div class="form-group" style="display: table-cell;">
              <label for="firstName">First name</label>
              <input class="field" type="text" id="curriculum" name="firstName" value="{{ first_name }}"/>
            </div>
            <div class="form-group" style="display: table-cell;padding-left:75px;">
              <label for="lastName">Last name</label>
              <input class="field" type="text" id="curriculum" name="lastName" value="{{ last_name }}"/>
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <label for="speciality">Speciality</label>
              {% if edit %}
                <select id="multiple" class="form-control form-control-chosen" data-placeholder="Please select..." multiple name="speciality">
              {% else %}
                <select id="multiple" class="form-control form-control-chosen" data-placeholder="Please select..." multiple name="speciality">
              {% endif %}
              <option></option>
              {% for sujet in sujets %}
                {% if edit and sujet in request.speciality %}                
                  <option selected="">{{ sujet }}</option>
                {% else %}
                  <option>{{ sujet }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <br>
          <div style="display: table">
            <div class="form-group" id="cv-container" style="display: table-cell">
              {% if edit %}
                <a class="doc_link" href="/account/request/document/cv?id={{ request.id }}" target="_blank">Curriculum vitae</a>
              {% else %}
                <label for="curriculum">Curriculum vitae</label>
                <input type="file" class="input_file" name="curriculum" style="font-size:small;margin-left:-20px;" accept=".pdf"/>
              {% endif %}
            </div>
            <br>
            <div class="form-group" id="cl-container" style="display: table-cell;padding-left:75px;">
              {% if edit %}
                <a class="doc_link" href="/account/request/document/letter?id={{ request.id }}" target="_blank">Cover letter</a>
              {% else %}
                <label for="cover-letter">Cover letter</label>
                <input type="file" class="input_file" name="cover-letter" style="font-size:small;margin-left:-20px;" accept=".pdf"/>
              {% endif %}
            </div>
          </div>
          <div id="form-popup-error">{{ error }}</div><br>
          <div class="form-group">
            {% if admin %}
              <div class="button-center">
                <button type="button" class="accept">Accept</button>
                <button type="button" class="refuse">Refuse</button>
              </div>
            {% else %}
              {% if edit %}
                <button type="button" onclick="window.location.href='/account'">Back</button>
              {% else %}
                <button type="submit">Submit</button>
              {% endif %}
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='assets/javascript/chosen.jquery.min.js') }}"></script>
  <script type="text/javascript">
    $('.form-control-chosen').chosen({
      allow_single_deselect: true,
      width: '100%'
    });
    
    $(function() {
      $('[title="clickable_optgroup"]').addClass('chosen-container-optgroup-clickable');
    });
    $(document).on('click', '[title="clickable_optgroup"] .group-result', function() {
      var unselected = $(this).nextUntil('.group-result').not('.result-selected');
      if(unselected.length) {
        unselected.trigger('mouseup');
      } else {
        $(this).nextUntil('.group-result').each(function() {
          $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
        });
      }
    });
    $('#is_valid_chosen').addClass('is-valid');
    $('#is_invalid_chosen').addClass('is-invalid');
  </script>

  {% if edit %}
    <script type="text/javascript">
      disableRequestFields();
    </script>
  {% endif %}
{% endblock %}