{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/compte.css') }}" />
<script src="{{ url_for('static', filename='assets/javascript/compte.js') }}"></script>

{% if not session['user'] or session['user']['type'] == "STANDARD" or
session['user']['type'] == "MEMBER" %}
<div class="becomeInstructor">
  <div class="becomeInstructor-container">
    <h2>Teach with us</h2>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-overview-tab" data-bs-toggle="tab" href="#nav-overview" role="tab"
          aria-controls="nav-overview" aria-selected="true">Overview</a>
        <a class="nav-item nav-link" id="nav-howToApply-tab" data-bs-toggle="tab" href="#nav-howToApply" role="tab"
          aria-controls="nav-howToApply" aria-selected="false">How to apply</a>
        {% if requests %}
        <a class="nav-item nav-link" id="nav-history-tab" data-bs-toggle="tab" href="#nav-history" role="tab"
          aria-controls="nav-history" aria-selected="false">History</a>
        {% endif %}
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <br>
        <p>Help people learn new skills, advance their careers,
          and explore their hobbies by sharing your
          knowledge.</p>
        <br>
      </div>
      <div class="tab-pane fade" id="nav-howToApply" role="tabpanel" aria-labelledby="nav-howToApply-tab">
        {% if not session['user'] %}
        <p>You only need to fill a form with your resume and a cover letter.
          Then, we will evaluate your candidature.</p>
        <p>If you have an account, <a href="/login" style="color:white;">
          login</a> to continue.</p>
        <p>If not, 
          <a href="/register" style="color:white;">create an account</a> 
          and login to continue.
        </p>
        {% else %}
        <p>Fill out our 
          <a href="/become_instructor" style="color:white;">request form</a>
        </p>
        <ul>
          <li>Enter your full name</li>
          <li>Choose one or more subjects</li>
          <li>Attach your latest resume and a cover letter</ li>
          <li>Submit your request</li>
        </ul>
        <p>Our team will review your request and contact you as
          soon as possible by email.</p>
        {% endif %}
      </div>
      {% if requests %}
      <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Request #</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            <tr>
          </thead>
          <tbody>
            {% for request in requests %}
            {% if request.status == "ACCEPTED" %}
            <i class="qtip tip-bottom" data-tip="Details sent to {{ session['user']['email'] }}">
              {% endif %}
              <tr onclick="location.href='/account/request/{{ request.id }}'">
                <th scope="row">{{ request.id }}
                </th>
                <td>{{ request.date }}</td>
                <td>{{ request.status }}</td>
              </tr>
              {% if request.status == "ACCEPTED" %}
            </i>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    {% if session['user'] and (session['user']['type'] == "STANDARD" or
    session['user']['type'] == "MEMBER") and pending == false %}
    <div class="button-center">
      <button type="button" class="become_instructor_button" onclick="window. location.href='/become_instructor'">
        Become an instructor</ button>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}